{% load static %}
 <!-- apps -->
    <div class="apps_w3w3pvt bg-li py-5" id="apps">
        <div class="container py-xl-5 py-lg-3">
            <h3 class="title-w3 mb-2 text-center text-bl font-weight-bold">Download The Apps</h3>
            <p class="text-center title-w3 mb-md-5 mb-4">Excepteur sint occaecat cupidatat</p>
            <ul class="list-unstyled apps-lists text-center pt-sm-4">
                <li>
                    <a href="#"><span class="fa fa-apple mr-3" aria-hidden="true"></span>App Store</a>
                </li>
                <li class="mx-sm-3 my-sm-0 my-3">
                    <a href="#" class="active"><span class="fa fa-windows mr-3" aria-hidden="true"></span>Windows Store</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-android mr-3" aria-hidden="true"></span>Android</a>
                </li>
            </ul>
        </div>
        <div class="img-podi-w3ls">
            <span class="fa fa-leanpub"></span>
        </div>
    </div>
    <!-- //apps -->