{% load static %}
 <!-- testimonials -->
 <section class="clients py-5" id="testi">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-sm-5 mb-4 text-center text-wh font-weight-bold">What Students Say</h3>
        <div class="feedback-info text-center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod.
                sed do eiusmod tempor
                incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi</p>
            <img src="{% static 'assets/images/te1.jpg' %}" alt=" " class="img-fluid mt-5">
            <h4 class="mt-4 text-wh font-weight-bold mb-4">Mary Jane</h4>
        </div>
    </div>
</section>
<!-- //testimonials -->
